h1{
    text-align: center;
}
table{
    margin: auto;
}
td{
    height: 100px;
    width: 100px;
}
td:nth-of-type(2){
    border-left: 2px;
    border-right: 2px;
}
tr:nth-of-type(2){
    border-top: 2px;
    border-bottom: 2px;
}